{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'vendors/bootstrap-icons/bootstrap-icons.min.css' %}">
{% endblock extrahead %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-6">

            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="{% static 'img/avatar.jpg' %}" class="img-fluid rounded-circle"
                                style="width: 90px; height: 90px;" alt="User Avatar">
                        </div>
                        <div class="col-8">
                            <h3 class="card-title">{{ user.username }}</h3>
                            {{ user.email }}
                            {% if user.email_verified %}(<i class="bi bi-shield-fill-check text-success"
                                aria-hidden="true"></i>){% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <h3>{% translate "Account Recovery" %}</h3>
            <ul>
                <li><a href="{% url 'accounts:email_change' %}">{% translate "Update email address" %}</a></li>
                <li><a href="{% url 'accounts:password_change' %}">{% translate "Change your password" %}</a></li>
            </ul>

            <h3>{% translate "Data Management" %}</h3>
            <ul>
                <li><a href="{% url 'accounts:export' %}">{% translate "Export your data" %}</a></li>
                <li><a href="{% url 'accounts:account_close' %}">{% translate "Delete your account" %}</a></li>
            </ul>

            <h3>{% translate "Notifications" %}</h3>

            {% if user.notification_preferences %}
            <form action="" method="post">
                {% csrf_token %}
                <fieldset class="border p-3 rounded">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="unread_messages_notification"
                            {%if user.notification_preferences.unread_messages_notification%}checked{%endif%}
                            name="unread_messages_notification">
                        <label class="form-check-label" for="unread_messages_notification">
                            {% translate "Notifications for unread messages" %}
                        </label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                            id="ride_status_update_notification" 
                            {%if user.notification_preferences.ride_status_update_notification%}checked{%endif%}
                            name="ride_status_update_notification">
                        <label class="form-check-label" for="ride_status_update_notification">
                            {% translate "Ride request status update" %}
                        </label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                            id="ride_sharing_suggestion_notification" 
                            {%if user.notification_preferences.ride_sharing_suggestion_notification%}checked{%endif%}
                            name="ride_sharing_suggestion_notification">
                        <label class="form-check-label" for="ride_sharing_suggestion_notification">
                            {% translate "Ride sharing suggestion notifications" %}
                        </label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="mandatory_notifications"
                            disabled checked>
                        <label class="form-check-label" for="mandatory_notifications">
                            {% translate "Mandatory notifications (e.g., policy updates)" %}
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">{% translate "Save Changes" %}</button>
                </fieldset>
            </form>
            {% else %}
            <div class="alert alert-warning">
                An error occurred while loading your notification preferences. <br>
                Please contact <a href="mailto:{{SUPPORT_EMAIL}}?subject=UserNotificationPreferences missing for user '{{user}}'">support</a>.
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}