{% load i18n %}
{% load static %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INSA'Roule</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous"
        integrity="sha384-G4KEWhGxVZ6yJoUM5hYH3asxRGZUsmbzA5jb+ylYDP5SFoNwWyjwoH2ydhMkx5px">
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <meta name="referrer" content="strict-origin">
    {% block extrahead %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        {% include 'includes/navbar.html' %}
        {% block content %}{% endblock %}
    </main>
    {% include 'messages/container.html' %}
    <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>


    {% include "includes/footer.html" %}
    {% block extrascript %}{% endblock %}
    {% include 'messages/script.html' %}
</body>

</html>