{% load i18n %}
{% load static %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}"class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INSA'Roule</title>
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    
    {% block extrahead %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        {% include 'includes/navbar.html' %}
        {% block content %}{% endblock %}
        {% include 'messages/container.html' %}
    </main>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>


    {% include "includes/footer.html" %}
    {% block extrascript %}{% endblock %}
    {% include 'messages/script.html' %}
</body>
</html>