{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INSA'Roule</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous"
        integrity="sha384-G4KEWhGxVZ6yJoUM5hYH3asxRGZUsmbzA5jb+ylYDP5SFoNwWyjwoH2ydhMkx5px">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico'%}" type="image/x-icon">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    <link rel="stylesheet" href="{% static 'css/insa.css' %}">
    {% block extrahead %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
    <div class="position-fixed top-0 start-0 p-3" style="z-index: 1000;">
        <a href="https://www.insa-rennes.fr">
            <img src="{% static 'img/logo/insa-rennes.png' %}" class="img-fluid" alt="INSA Rennes Logo" style="max-height: 40px;">
        </a>
    </div>

    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1030;">
        {% include "includes/langselect.html" %}
    </div>

    <main class="flex-shrink-0 pt-4">
        {% block content %}{% endblock %}
    </main>
    {% include "includes/footer.html" %}

    <script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
    {% block extrascript %}{% endblock %}
</body>

</html>