{% extends 'base.html' %}{% load static i18n %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'vendors/bootstrap-icons/bootstrap-icons.css' %}" />

{% endblock extrahead %}

{% block content %}
<div class="container mt-3">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h1>{% translate "Statistics" %}</h1>
        <span class="align-self-center text-body-secondary ms-3">{{ last_updated_at|date:"d/m/Y H:i" }}</span>
    </div>
    
    <div class="row">
        <div class="col-xl col-md-6 mb-3">
            <div class="card border border-5 border-primary border-end-0 border-top-0 border-bottom-0 shadow py-2 h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs fw-bold text-primary text-uppercase mb-1">
                                {% translate "Total Rides" %}
                            </div>
                            <div class="h5 mb-0 fw-bold text-body-secondary">{{ total_rides|default:0 }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-car-front-fill text-body-tertiary display-5 pe-3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-6 mb-3">
            <div class="card border border-5 border-warning border-end-0 border-top-0 border-bottom-0 shadow py-2 h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs fw-bold text-warning text-uppercase mb-1">
                                {% translate "Total users" %}
                            </div>
                            <div class="h5 mb-0 fw-bold text-body-secondary">{{ total_users|default:0 }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-signpost-split-fill text-body-tertiary display-5 pe-3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-6 mb-3">
            <div class="card border border-5 border-info border-end-0 border-top-0 border-bottom-0 shadow py-2 h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs fw-bold text-info text-uppercase mb-1">
                                {% translate "Total distance (km)" %}
                            </div>
                            <div class="h5 mb-0 fw-bold text-body-secondary">{{ total_distance|floatformat:2|default:0 }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-signpost-split-fill text-body-tertiary display-5 pe-3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-6 mb-3">
            <div class="card border border-5 border-success border-end-0 border-top-0 border-bottom-0 shadow py-2 h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs fw-bold text-success text-uppercase mb-1">
                                {% translate "Spared CO<sub>2</sub> (in kg)" %}
                            </div>
                            <div class="h5 mb-0 fw-bold text-body-secondary">{{ total_co2|floatformat:2|default:0 }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-leaf-fill text-body-tertiary display-5 pe-3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <canvas id="chart"></canvas>
    </div>
</div>
{% endblock content %}

{% block extrascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('chart');

    document.addEventListener("DOMContentLoaded", function () {
        fetch("{% url 'carpool:bo_statistics_json_monthly' %}")
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const labels = data.labels;
                const rideCounts = data.monthly_total_rides;
                const co2Saved = data.monthly_total_co2;
                const usersCounts = data.monthly_total_users;
                const distanceCounts = data.monthly_total_distance;

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                label: 'Rides count',
                                data: rideCounts,
                                borderWidth: 1,
                                yAxisID: 'y'
                            },
                            {
                                label: 'Spared CO2 (in kg)',
                                data: co2Saved,
                                borderWidth: 1,
                                yAxisID: 'y1'
                            },
                            {
                                label: 'Users',
                                data: usersCounts,
                                borderWidth: 1,
                                yAxisID: 'y',
                            },
                        ]
                    },
                    options: {
                        scales: {
                            // scale for number of rides
                            y: {
                                beginAtZero: true,
                                position: 'left',
                                title: {
                                    display: true,
                                }
                            },
                            // scale for CO2 saved
                            y1: {
                                beginAtZero: true,
                                position: 'right',
                                grid: {
                                    drawOnChartArea: false
                                },
                                title: {
                                    display: true,
                                    text: 'kg'
                                }
                            }
                        }
                    }
                });
            })
            .catch(error => console.error('Error fetching statistics data:', error));
    })
</script>
{% endblock extrascript %}