{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 mt-5">
        <h1>{% translate "Password reset sent" %}</h1>
        <p>
            {% blocktranslate %}
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
            {% endblocktranslate %}
        </p>
        <p>
            {% blocktranslate %}
            If you don't receive an email, please make sure you've entered the address you registered with, and check
            your spam folder.
            {% endblocktranslate %}
        </p>
    </div>
</div>
{% endblock content %}
