{% extends 'base.html' %} {% load i18n %} {% load static %} {% block extrahead %}
<link rel="stylesheet" href="{% static 'vendors/leaflet/leaflet.css' %}"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<link rel="stylesheet" href="{% static 'vendors/choices-js/public/assets/styles/choices.min.css' %}" />
<style>
    .choices__inner {
        background-color: #ffffff !important;
        /* white background instead of grey */
        border: 1px solid #cccccc;
        /* lighter border */
    }

    .choices__input {
        background-color: #ffffff !important;
        /* white background instead of grey */

    }

    #departure {
        z-index: 999;
    }

    #arrival {
        z-index: 998;
    }
</style>
<link rel="stylesheet" href="{% static 'vendors/bootstrap-icons/bootstrap-icons.css' %}" />

{% endblock extrahead %} {% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg h-100">
            <div id="map" style="height: 86vh"></div>
        </div>
        <div class="col-lg-4">
            <h2>{% translate "Publish a new ride" %}</h2>
            <!-- Departure address autocomplete -->
            <div class="mb-3">
                <label for="departure">
                    {% translate "Departure address" %}
                </label>
                {% if form.d_latitude.errors or form.d_longitude.errors %}
                <span class="text-danger">
                    {% translate "This field is required" %}
                </span>
                {% endif %}
                <select class="form-select" id="departure"></select>
            </div>
            <!-- Arrival address autocomplete -->
            <div class="mb-3">
                <label for="arrival">{% translate "Arrival address" %}</label>
                {% if form.a_latitude.errors or form.a_longitude.errors %}
                <span class="text-danger">
                    {% translate "This field is required" %}
                </span>
                {% endif %}
                <select class="form-select" id="arrival"></select>
            </div>

            <form action="" method="post">
                {% csrf_token %}

                <div id="hidden">
                    {# Departure information #}
                    {{ form.d_fulltext }}
                    {{ form.d_street }}
                    {{ form.d_city }}
                    {{ form.d_zipcode }}
                    {{ form.d_latitude }}
                    {{ form.d_longitude }}
                    {# Arrival information #}
                    {{ form.a_fulltext }}
                    {{ form.a_street }}
                    {{ form.a_city }}
                    {{ form.a_zipcode }}
                    {{ form.a_latitude }}
                    {{ form.a_longitude }}
                    {# Routing information #}
                    {{ form.r_geometry }}
                    {{ form.r_duration }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.departure_datetime.id_for_label }}">{% translate "Departure date" %}</label>
                    {{ form.departure_datetime }}
                    {% if form.departure_datetime.errors %}
                    <span class="text-danger">{{ form.departure_datetime.errors }}</span>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.seats.id_for_label }}">{% translate "Seats offering" %}</label>
                    {{ form.seats_offered }}
                    {% if form.seats_offered.errors %}
                    <span class="text-danger">{{ form.seats_offered.errors }}</span>
                    {% endif %}
                </div>

                <div class="mb-2">
                    <label for="{{ form.price_per_seat.id_for_label }}">
                        {% translate "Price and Payment method" %}
                    </label>
                    {{ form.price_per_seat }}

                    <div class="mt-1 small text-center">
                        {% for payment_method in payment_methods %}
                        <div class="form-check form-check-inline" id="payment-options">
                            <input class="form-check-input" type="checkbox" id="id_{{ payment_method.0 }}"
                                value="{{ payment_method.0 }}" name="payment_method">
                            <label class="form-check-label" for="id_{{ payment_method.0 }}">
                                {{ payment_method.1 }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>



                <div class="mb-3">
                    <label for="vehicle" class="d-flex justify-content-between vertical-align mb-1">
                        <span class="mt-auto">{% translate "Vehicle" %}</span>
                        <button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="modal"
                            data-bs-target="#vehicleModal" id="createButton">
                            {% translate "Add a new vehicle"%}
                        </button>
                    </label>
                    {% if user.vehicles.all %}
                    <div class="input-group">
                        <select class="form-select" name="vehicle" id="vehicle">
                            {% for vehicle in user.vehicles.all %}
                            <option value="{{ vehicle.pk }}" data-name="{{ vehicle.name }}"
                                data-description="{{ vehicle.description }}" data-seats="{{ vehicle.seats }}"
                                data-co2="{{ vehicle.geqCO2_per_km}}">
                                {{ vehicle.name }} -
                                {% blocktranslate trimmed count vehicle.seats as seat_count %}
                                {{ seat_count }} seat
                                {% plural %}
                                {{ seat_count }} seats
                                {% endblocktranslate %}
                            </option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-secondary" type="button" id="editVehicleBtn">
                            {% translate "Edit" %}
                        </button>
                    </div>
                    {% else %}
                    <div class="card border border-primary" style="border-style: dashed !important;">
                        <div class="card-body">
                            {% translate "You don't have any vehicle registered to your account. Please add one to
                            publish a ride." %}
                        </div>
                    </div>

                    {% endif %}
                </div>

                <button class="btn btn-primary w-100" type="submit">
                    {% translate "Publish ride" %}
                </button>
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="vehicleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" id="vehicleForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="vehicleModalTitle">Vehicle form</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="vehicle_id" id="vehicle_id">

                    <div class="mb-3">
                        <label for="vehicle_name">{% translate "Name" %}<sup class="text-danger">*</sup></label>
                        <input type="text" name="name" id="vehicle_name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="vehicle_description">{% translate "Visual Description" %}<sup
                                class="text-danger">*</sup></label>
                        <input type="text" name="description" id="vehicle_description" class="form-control" required>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="vehicle_seats">{% translate "Maximum number of seats" %}<sup
                                    class="text-danger">*</sup></label>
                            <input type="text" name="seats" id="vehicle_seats" class="form-control">
                        </div>
                        <div class="col mt-auto">
                            <label for="vehicle_co2">{% translate "CO<sub>2</sub> emission (g/km)" %}</label>
                            <input type="text" name="geqCO2_per_km" id="vehicle_co2" class="form-control">
                        </div>
                    </div>
                    <p class="small text-muted">
                        {% blocktranslate trimmed %}
                        You can find the CO<sub>2</sub> emission on your vehicle registration certificate
                        (in France, it's in the section V.7).
                        {% endblocktranslate %}
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {% translate "Close" %}
                    </button>
                    <button type="submit" class="btn btn-primary">{% translate "Save changes" %}</button>
                </div>
        </form>
    </div>
</div>
</div>
{% endblock content %} {% block extrascript %}
<script src="{% static 'vendors/leaflet/leaflet.js' %}" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

<script src="{% static 'vendors/choices-js/public/assets/scripts/choices.min.js' %}"></script>

<script>
    var map = L.map("map", {
        doubleClickZoom: false,
        boxZoom: false,
        dragging: false,
        doubleClickZoom: false,
        scrollWheelZoom: false,
        zoomControl: false,
    }).setView([46.2321929, 2.209666999999996], 6.4);

    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution:
            '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);
</script>

<script>
    const WAITING_BEFORE_REQUEST = 500; // ms

    const departureEl = document.getElementById("departure");
    const arrivalEl = document.getElementById("arrival");

    // departure information
    const hDepartureFullText = document.getElementById("id_d_fulltext");
    const hDepartureStreet = document.getElementById("id_d_street");
    const hDepartureZipcode = document.getElementById("id_d_zipcode");
    const hDepartureCity = document.getElementById("id_d_city");
    const hDepartureLatitude = document.getElementById("id_d_latitude");
    const hDepartureLongitude = document.getElementById("id_d_longitude");

    // arrival information
    const hArrivalFullText = document.getElementById("id_a_fulltext");
    const hArrivalStreet = document.getElementById("id_a_street");
    const hArrivalZipcode = document.getElementById("id_a_zipcode");
    const hArrivalCity = document.getElementById("id_a_city");
    const hArrivalLatitude = document.getElementById("id_a_latitude");
    const hArrivalLongitude = document.getElementById("id_a_longitude");

    // routing information
    const hRouteGeometry = document.getElementById("id_r_geometry");
    const hRouteDuration = document.getElementById("id_r_duration");


    const departure = new Choices(departureEl, {
        placeholder: true,
        placeholderValue: "{% translate 'Search for a precise departure address' %}",
        noChoicesText: "{% translate 'No address found' %}",
    });
    const arrival = new Choices(arrivalEl, {
        placeholder: true,
        placeholderValue: "{% translate 'Search for a precise arrival address' %}",
        noChoicesText: "{% translate 'No address found' %}",
    });

    var departureM,
        arrivalM,
        route = null;

    function updateCoordinates(
        self,
        fullTextInput,
        latitudeInput,
        longitudeInput,
        streetInput,
        zipCodeInput,
        cityInput,
        marker,
    ) {
        // Get the innerHTML of the first selected option
        const fullname = self.selectedOptions[0].innerHTML;
        const [lat, lng] = self.value.split("/");
        let choiceWidget = undefined;

        if (marker) {
            marker.setLatLng([lat, lng]);
        }

        if (self.id === "departure") {
            choiceWidget = departure;

            if (!departureM) {
                // Create a new marker for departure if it doesn't exist
                departureM = L.marker([lat, lng]).addTo(map);
            } else {
                departureM.setLatLng([lat, lng]);
            }
        } else if (self.id === "arrival") {
            choiceWidget = arrival;
            if (!arrivalM) {
                // Create a new marker for arrival if it doesn't exist
                arrivalM = L.marker([lat, lng]).addTo(map);
            } else {
                arrivalM.setLatLng([lat, lng]);
            }
        }

        // Fill the hidden inputs with the selected address information
        streetInput.value =
            choiceWidget.getValue().customProperties.street || "";
        zipCodeInput.value = choiceWidget.getValue().customProperties.zipcode;
        cityInput.value = choiceWidget.getValue().customProperties.city;
        fullTextInput.value = fullname;
        latitudeInput.value = lat;
        longitudeInput.value = lng;

        updateMap();

        if (departureM && arrivalM) {
            // If both markers are set, fetch the route
            getRouteFromCoordinates(
                departureM.getLatLng().lat,
                departureM.getLatLng().lng,
                arrivalM.getLatLng().lat,
                arrivalM.getLatLng().lng,
            );
        }
    }

    function updateMap() {
        // Ensure both markers are defined before calculating bounds
        // and add a padding to the bounds

        var bounds = L.latLngBounds(
            departureM ? departureM.getLatLng() : [48.120799, -1.635791],
            arrivalM ? arrivalM.getLatLng() : [48.120799, -1.635791],
        );

        map.fitBounds(bounds, (padding = [50, 50]));
    }

    function getRouteFromCoordinates(
        departureLat,
        departureLng,
        arrivalLat,
        arrivalLng,
    ) {
        const start = encodeURIComponent(`${departureLng},${departureLat}`);
        const end = encodeURIComponent(`${arrivalLng},${arrivalLat}`);

        const url = `/api/routing/?start=${start}&end=${end}`;
        fetch(url)
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then((data) => {
                // Show geometry on the map
                if (data.geometry) {
                    // Remove previous route if it exists
                    if (route) {
                        map.removeLayer(route);
                    }
                    route = L.geoJSON(data.geometry, {
                        style: {
                            color: "#3388ff",
                            weight: 5,
                            opacity: 0.7,
                        },
                    }).addTo(map);

                    // Update hidden inputs with route information
                    hRouteDuration.value = data.duration;
                    hRouteGeometry.value = JSON.stringify(data.geometry);

                    // Fit the map to the route bounds
                    map.fitBounds(route.getBounds(), { padding: [50, 50] });
                } else {
                    console.error("No geometry found in the response");
                }
            })
            .catch((error) => {
                console.error("Error fetching route:", error);
            });
    }

    departureEl.addEventListener("change", function () {
        updateCoordinates(
            this,
            hDepartureFullText,
            hDepartureLatitude,
            hDepartureLongitude,
            hDepartureStreet,
            hDepartureZipcode,
            hDepartureCity,
        );
    });
    arrivalEl.addEventListener("change", function () {
        updateCoordinates(
            this,
            hArrivalFullText,
            hArrivalLatitude,
            hArrivalLongitude,
            hArrivalStreet,
            hArrivalZipcode,
            hArrivalCity,
        );
    });

    // =================================================================
    // Event listeners for addresses search
    // =================================================================

    departure.passedElement.element.addEventListener(
        "search",
        async (event) => {
            clearTimeout(event.target.timer);

            event.target.timer = setTimeout(async () => {
                try {
                    const response = await fetch(
                        `/api/completion/?text=${event.detail.value}`,
                    );
                    const data = await response.json();
                    if (data.status !== "OK") {
                        return;
                    }
                    departure.clearChoices();
                    departure.setChoices(
                        data.results,
                        "value",
                        "fulltext",
                        true,
                    );
                } catch (error) {
                    console.error("Error fetching addresses:", error);
                }
            }, WAITING_BEFORE_REQUEST);
        },
    );

    arrival.passedElement.element.addEventListener("search", async (event) => {
        clearTimeout(event.target.timer);

        event.target.timer = setTimeout(async () => {
            try {
                const response = await fetch(
                    `/api/completion/?text=${event.detail.value}`,
                );
                const data = await response.json();
                if (data.status !== "OK") {
                    return;
                }
                arrival.clearChoices();
                arrival.setChoices(data.results, "value", "fulltext", true);
            } catch (error) {
                console.error("Error fetching addresses:", error);
            }
        }, WAITING_BEFORE_REQUEST);
    });

    // =================================================================
    // Initial map setup
    // =================================================================

    document.addEventListener("DOMContentLoaded", function () {
        if (
            hDepartureLatitude.value &&
            hDepartureLongitude.value &&
            departureM === undefined
        ) {
            // If departure coordinates are set, create the marker
            const lat = parseFloat(hDepartureLatitude.value);
            const lng = parseFloat(hDepartureLongitude.value);
            departureM = L.marker([lat, lng]).addTo(map);
            updateMap();
        }
        // FIXME: if hArrivalLatitude and hArrivalLongitude are undefined
        if (
            hArrivalLatitude.value &&
            hArrivalLongitude.value &&
            arrivalM === undefined
        ) {
            // If arrival coordinates are set, create the marker
            const lat = parseFloat(hArrivalLatitude.value);
            const lng = parseFloat(hArrivalLongitude.value);
            arrivalM = L.marker([lat, lng]).addTo(map);
            updateMap();
        }

        if (hRouteGeometry.value) {
            // If route is set, display it on the map
            const routeData = JSON.parse(hRouteGeometry.value);
            route = L.geoJSON(routeData, {
                style: {
                    color: "#3388ff",
                    weight: 5,
                    opacity: 0.7,
                },
            }).addTo(map);
            map.fitBounds(route.getBounds(), { padding: [50, 50] });
        }

        // Update value of Choices when already set in hidden inputs
        if (hDepartureFullText.value) {
            departure.setValue([
                `${hDepartureLatitude.value}/${hDepartureLongitude.value}`,
                hDepartureFullText.value,
            ]);
        }

        if (hArrivalFullText.value) {
            arrival.setValue([
                `${hArrivalLatitude.value}/${hArrivalLongitude.value}`,
                hArrivalFullText.value,
            ]);
        }
    });

    // =================================================================
    // Automated enabling/disabling of payment method checkboxes
    // =================================================================
    document.addEventListener("DOMContentLoaded", function () {
        const priceInput = document.getElementById("id_price_per_seat");
        const paymentCheckboxes = document.querySelectorAll(
            '#payment-options input[type="checkbox"]',
        );

        function togglePaymentMethodCheckboxes() {
            const price = parseFloat(priceInput.value) || 0;
            const disable = price === 0;

            paymentCheckboxes.forEach((checkbox) => {
                checkbox.disabled = disable;
            });
        }

        togglePaymentMethodCheckboxes();

        priceInput.addEventListener("input", togglePaymentMethodCheckboxes);
    });
</script>

<script>
    function createToast(alert, content) {
        const toastContainer = document.getElementById("toastContainer");
        const toastEl = document.createElement("div");

        if (alert == "debug") {
            toastEl.className = "toast align-items-center bg-secondary text-white";
        } else if (alert == "info") {
            toastEl.className = "toast align-items-center bg-info text-white";
        } else if (alert == "success") {
            toastEl.className = "toast align-items-center bg-success text-white";
        } else if (alert == "warning") {
            toastEl.className = "toast align-items-center bg-warning";
        } else if (alert == "error") {
            toastEl.className = "toast align-items-center bg-danger text-white";
        } else {
            toastEl.className = "toast align-items-center bg-secondary text-white";
        }

        toastEl.setAttribute("role", "alert");
        toastEl.setAttribute("aria-live", "assertive");
        toastEl.setAttribute("aria-atomic", "true");

        const toastContent = document.createElement("div");
        toastContent.innerHTML = `
            <div class="d-flex">
                <div class="toast-body">
                    ${content}
                </div>
                <button type="button" class="btn-close me-2 m-auto ${alert == "debug" || alert == "info" || alert == "success" || alert == "error"
                ? "btn-close-white"
                : ""
            }" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        `;
        toastEl.appendChild(toastContent);
        toastContainer.appendChild(toastEl);

        bootstrap.Toast.getOrCreateInstance(toastEl).show();
    }


    // =================================================================
    // Vehicle modal form handling
    // =================================================================
    document.addEventListener("DOMContentLoaded", function () {
        const vehicleModal = new bootstrap.Modal(
            document.getElementById("vehicleModal"),
        );
        const vehicleForm = document.getElementById("vehicleForm");
        const vehicleModalTitle = document.getElementById("vehicleModalTitle");
        const createButton = document.getElementById("createButton");
        const editVehicleBtn = document.getElementById("editVehicleBtn");

        const vehicleIdInput = document.getElementById("vehicle_id");
        const vehicleNameInput = document.getElementById("vehicle_name");
        const vehicleDescriptionInput = document.getElementById(
            "vehicle_description",
        );
        const vehicleSeatsInput = document.getElementById("vehicle_seats");
        const vehicleCO2Input = document.getElementById("vehicle_co2");

        // Open modal in "create" mode
        createButton.addEventListener("click", function () {
            vehicleModalTitle.textContent = "{% translate 'Add a new vehicle' %}";
            vehicleForm.reset();
            vehicleIdInput.value = "";
        });

        // Open modal in "edit" mode
        if (editVehicleBtn) {
            editVehicleBtn.addEventListener("click", function () {
                let vehicleSelect = document.getElementById("vehicle");
                const selectedOption =
                    vehicleSelect.options[vehicleSelect.selectedIndex];

                if (!selectedOption) {
                    alert("{% translate 'Please select a vehicle to edit.' %}");
                    return;
                }

                vehicleModalTitle.textContent = "{% translate 'Edit vehicle' %}";
                vehicleIdInput.value = selectedOption.value;
                vehicleNameInput.value = selectedOption.dataset.name || "";
                vehicleDescriptionInput.value =
                    selectedOption.dataset.description || "";
                vehicleSeatsInput.value = selectedOption.dataset.seats || "";
                vehicleCO2Input.value = selectedOption.dataset.co2 || "";

                vehicleModal.show();
            });
        }

        vehicleForm.addEventListener("submit", function (event) {
            event.preventDefault();

            // Nettoyer les anciennes erreurs
            vehicleForm.querySelectorAll(".is-invalid").forEach((el) => {
                el.classList.remove("is-invalid");
            });
            vehicleForm.querySelectorAll(".invalid-feedback").forEach((el) => el.remove());

            const formData = new FormData(vehicleForm);
            const url = formData.get("vehicle_id")
                ? `/api/vehicles/${formData.get("vehicle_id")}/update/`
                : "/api/vehicles/new/";

            fetch(url, {
                method: "POST",
                headers: {
                    "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
                },
                body: formData,
            })
                .then((response) => {
                    if (!response.ok) {
                        return response.json().then((data) => {
                            if (data.errors) {
                                for (const [field, messages] of Object.entries(data.errors)) {
                                    const input = vehicleForm.querySelector(`[name="${field}"]`);
                                    if (input) {
                                        input.classList.add("is-invalid");

                                        const feedback = document.createElement("div");
                                        feedback.classList.add("invalid-feedback");
                                        feedback.textContent = messages.join(" ");
                                        input.insertAdjacentElement("afterend", feedback);
                                    }
                                }
                            }

                            if (data.error) {
                                createToast("error", data.error);
                            }

                            throw new Error("Validation error");
                        });
                    }
                    return response.json();
                })
                .then((data) => {
                    createToast("success", "{% translate 'Vehicle saved successfully!' %}");
                    vehicleModal.hide();
                })
                .catch((error) => {
                    console.error(error);
                });
        });

    });

</script>

{% endblock extrascript %}