{% extends 'base.html' %}
{% load static %}


{% block extrahead %}
<link rel="stylesheet" href="{% static 'vendors/leaflet/leaflet.css' %}" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<link rel="stylesheet" href="{% static 'vendors/choices-js/public/assets/styles/choices.min.css' %}" />
<style>
    #departure {
        z-index: 999;
    }
    #arrival {
        z-index: 998;
    }
</style>


{% endblock extrahead %}


{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg h-100">

            <div id="map" style="height: 90vh"></div>
        </div>
        <div class="col-lg-4">
            <h2>Publish a new ride</h2>
            <!-- Departure address autocomplete -->
            <div class="mb-3">
                <label for="departure">Departure address</label>
                {% if form.departure_lat.errors or form.departure_lng.errors %}
                <span class="text-danger">This field is required</span>
                {% endif %}
                <select class="form-select" id="departure"></select>
            </div>
            <!-- Arrival address autocomplete -->
            <div class="mb-3">
                <label for="arrival">Arrival address</label>
                {% if form.arrival_lat.errors or form.arrival_lng.errors %}
                <span class="text-danger">This field is required</span>
                {% endif %}
                <select class="form-select" id="arrival"></select>
                
            </div>

            <form action="" method="post">
                {% csrf_token %}

                <div id="hidden">
                    {# Departure information #}
                    {{ form.d_fulltext }}
                    {{ form.d_street }}
                    {{ form.d_city }}
                    {{ form.d_zipcode }}
                    {{ form.d_latitude }}
                    {{ form.d_longitude }}

                    {# Arrival information #}
                    {{ form.a_fulltext }}
                    {{ form.a_street }}
                    {{ form.a_city }}
                    {{ form.a_zipcode }}
                    {{ form.a_latitude }}
                    {{ form.a_longitude }}

                    {# Routing information #}
                    {{ form.r_geometry }}
                    {{ form.r_duration }}
                </div>


                <div class="mb-3">
                    {{ form.departure_datetime }}
                </div>

                <div class="mb-3">
                    {{ form.seats }}
                </div>

                <div class="mb-3">
                    {{ form.price_per_seat }}
                </div>

                <div class="mb-3">
                    <label for="">Payment method</label>
                    
                    <div class="mb-3" id="payment-options">
                        {{form.payment_method}}
                    </div>
                </div>

                {% for field in form %}
                    {% for error in field.errors %}
                    <div class="mb-3" style="color:#FF0000">
                        {{ error }}
                    </div>                        
                    {% endfor %}
                {% endfor %}
                <button class="btn btn-primary w-100" type="submit">Publish ride</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}


{% block extrascript %}
<script src="{% static 'vendors/leaflet/leaflet.js' %}"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script src="{% static 'vendors/choices-js/public/assets/scripts/choices.min.js' %}"></script>

<script>
    var map = L.map('map', 
        {
            doubleClickZoom: false,
            boxZoom: false,
            dragging: false,
            doubleClickZoom: false,
            scrollWheelZoom: false,
            zoomControl: false,
        }
    ).setView([46.2321929, 2.209666999999996], 6.4);
    

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
</script>


<script>
    const WAITING_BEFORE_REQUEST = 500; // ms

    const departureEl = document.getElementById('departure');
    const arrivalEl = document.getElementById('arrival');

    // departure information
    const hDepartureFullText = document.getElementById('id_d_fulltext');
    const hDepartureStreet = document.getElementById('id_d_street');
    const hDepartureZipcode = document.getElementById('id_d_zipcode');
    const hDepartureCity = document.getElementById('id_d_city');
    const hDepartureLatitude = document.getElementById('id_d_latitude');
    const hDepartureLongitude = document.getElementById('id_d_longitude');

    // arrival information
    const hArrivalFullText = document.getElementById('id_a_fulltext');
    const hArrivalStreet = document.getElementById('id_a_street');
    const hArrivalZipcode = document.getElementById('id_a_zipcode');
    const hArrivalCity = document.getElementById('id_a_city');
    const hArrivalLatitude = document.getElementById('id_a_latitude');
    const hArrivalLongitude = document.getElementById('id_a_longitude');

    // routing information
    const hRouteGeometry = document.getElementById('id_r_geometry');
    const hRouteDuration = document.getElementById('id_r_duration');

    const departure = new Choices(departureEl, {
        placeholder: true,
        placeholderValue: 'Search for a precise departure address',
    })
    const arrival = new Choices(arrivalEl, {
        placeholder: true,
        placeholderValue: 'Search for a precise arrival address',
    })


    var departureM, arrivalM, route = null;


    function updateCoordinates(self, fullTextInput, latitudeInput, longitudeInput, streetInput, zipCodeInput, cityInput, marker) {
        // Get the innerHTML of the first selected option
        const fullname = self.selectedOptions[0].innerHTML;
        const [lat, lng] = self.value.split('/');
        let choiceWidget = undefined;
    
        if (marker) {
            marker.setLatLng([lat, lng]);
        }

        if (self.id === 'departure') {
            choiceWidget = departure;


            if (!departureM) {
                // Create a new marker for departure if it doesn't exist
                departureM = L.marker([lat, lng]).addTo(map);
            } else {
                departureM.setLatLng([lat, lng]);
            }
        } else if (self.id === 'arrival') {
            choiceWidget = arrival;
            if (!arrivalM) {
                // Create a new marker for arrival if it doesn't exist
                arrivalM = L.marker([lat, lng]).addTo(map);
            } else {
                arrivalM.setLatLng([lat, lng]);
            }
        }

        // Fill the hidden inputs with the selected address information
        streetInput.value = choiceWidget.getValue().customProperties.street || '';
        zipCodeInput.value = choiceWidget.getValue().customProperties.zipcode;
        cityInput.value = choiceWidget.getValue().customProperties.city;
        fullTextInput.value = fullname;
        latitudeInput.value = lat;
        longitudeInput.value = lng;







        updateMap();

        if (departureM && arrivalM) {
            // If both markers are set, fetch the route
            getRouteFromCoordinates(
                departureM.getLatLng().lat,
                departureM.getLatLng().lng,
                arrivalM.getLatLng().lat,
                arrivalM.getLatLng().lng
            );
        }
    }

    function updateMap() {
        // Ensure both markers are defined before calculating bounds
        // and add a padding to the bounds
        
        var bounds = L.latLngBounds(
            
            departureM ? departureM.getLatLng() : [48.120799, -1.635791],
            arrivalM ? arrivalM.getLatLng() : [48.120799, -1.635791],
        )

        map.fitBounds(bounds, padding = [50, 50]);
    }


    function getRouteFromCoordinates(departureLat, departureLng, arrivalLat, arrivalLng) {
        const start = encodeURIComponent(`${departureLng},${departureLat}`); 
        const end = encodeURIComponent(`${arrivalLng},${arrivalLat}`);

        const url = `/api/routing/?start=${start}&end=${end}`;
        fetch(url)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then(data => {
            // Show geometry on the map
            if (data.geometry) {
                // Remove previous route if it exists
                if (route) {
                    map.removeLayer(route);
                }
                route = L.geoJSON(data.geometry, {
                    style: {
                        color: '#3388ff',
                        weight: 5,
                        opacity: 0.7
                    }
                }).addTo(map);
                // TODO: store duration

                // Update hidden inputs with route information
                hRouteDuration.value = data.duration;
                hRouteGeometry.value = JSON.stringify(data.geometry);
                
                // Fit the map to the route bounds
                map.fitBounds(route.getBounds(), { padding: [50, 50] });
            } else {
                console.error('No geometry found in the response');
            }


        }).catch(error => {
            console.error('Error fetching route:', error);
        });



    }

    departureEl.addEventListener('change', function () { updateCoordinates(this, hDepartureFullText, hDepartureLatitude, hDepartureLongitude, hDepartureStreet, hDepartureZipcode, hDepartureCity); });
    arrivalEl.addEventListener('change', function () { updateCoordinates(this, hArrivalFullText, hArrivalLatitude, hArrivalLongitude, hArrivalStreet, hArrivalZipcode, hArrivalCity); });


    // =================================================================
    // Event listeners for addresses search
    // =================================================================

    departure.passedElement.element.addEventListener('search', async (event) => {
        clearTimeout(event.target.timer);
        
        event.target.timer = setTimeout(async () => {
            try {
                const response = await fetch(`/api/completion/?text=${event.detail.value}`);
                const data = await response.json();
                if (data.status !== 'OK') {
                    return;
                }
                departure.clearChoices();
                departure.setChoices(data.results, 'value', 'fulltext', true);
            } catch (error) {
                console.error('Error fetching addresses:', error);
            }
        }, WAITING_BEFORE_REQUEST);
    })


    arrival.passedElement.element.addEventListener('search', async (event) => {
        clearTimeout(event.target.timer);
        
        event.target.timer = setTimeout(async () => {
            try {
                const response = await fetch(`/api/completion/?text=${event.detail.value}`);
                const data = await response.json();
                if (data.status !== 'OK') {
                    return;
                }
                arrival.clearChoices();
                arrival.setChoices(data.results, 'value', 'fulltext', true);
            } catch (error) {
                console.error('Error fetching addresses:', error);
            }
        }, WAITING_BEFORE_REQUEST);
    })

    // =================================================================
    // Initial map setup
    // =================================================================

    document.addEventListener('DOMContentLoaded', function() {
        if (hDepartureLatitude.value && hDepartureLongitude.value && departureM === undefined) {
            // If departure coordinates are set, create the marker
            const lat = parseFloat(hDepartureLatitude.value);
            const lng = parseFloat(hDepartureLongitude.value);
            departureM = L.marker([lat, lng]).addTo(map);
            updateMap();
        }
        // FIXME: if hArrivalLatitude and hArrivalLongitude are undefined
        if (hArrivalLatitude.value && hArrivalLongitude.value && arrivalM === undefined) {
            // If arrival coordinates are set, create the marker
            const lat = parseFloat(hArrivalLatitude.value);
            const lng = parseFloat(hArrivalLongitude.value);
            arrivalM = L.marker([lat, lng]).addTo(map);
            updateMap();
        }

        if (hRouteGeometry.value) {
            // If route is set, display it on the map
            const routeData = JSON.parse(hRouteGeometry.value);
            route = L.geoJSON(routeData, {
                style: {
                    color: '#3388ff',
                    weight: 5,
                    opacity: 0.7
                }
            }).addTo(map);
            map.fitBounds(route.getBounds(), { padding: [50, 50] });
        }

        // Update value of Choices when already set in hidden inputs
        if (hDepartureFullText.value) {
            departure.setValue([`${hDepartureLatitude.value}/${hDepartureLongitude.value}`, hDepartureFullText.value])
        }

        if (hArrivalFullText.value) {
            arrival.setValue([`${hArrivalLatitude.value}/${hArrivalLongitude.value}`, hArrivalFullText.value])
        }
    });

    





</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const priceInput = document.getElementById('id_price_per_seat');
        const paymentCheckboxes = document.querySelectorAll('#payment-options input[type="checkbox"]');

        function togglePaymentMethodCheckboxes() {
            const price = parseFloat(priceInput.value) || 0;
            const disable = price === 0;

            paymentCheckboxes.forEach(checkbox => {
                checkbox.disabled = disable;
                checkbox.closest('label').style.opacity = disable ? 0.5 : 1;
                checkbox.closest('label').style.pointerEvents = disable ? 'none' : 'auto';
            });
        }

        togglePaymentMethodCheckboxes();

        priceInput.addEventListener('input', togglePaymentMethodCheckboxes);
    });
</script>



{% endblock extrascript %}