{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div id="map" style="height: 90vh;"></div>
<div class="card mb-4 text-bg-light" style="position: absolute; top: 100px; left: 80px; z-index: 1000;">
    <div class="card-body">
        <form method="get" action="">
            <div class="row">
                <div class="col-lg mb-md-3 mb-lg-0">
                    <label for="start_dt" class="form-label">Date</label>
                    <input type="date" id="start_dt" name="start_dt" class="form-control" required>
                </div>
                <div class="col-lg mb-md-3 mb-lg-0 position-relative" style="top: 33px">
                    <button type="button" id="reset-date" class="btn btn-outline-secondary" title="Reset">                        
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="ride-info-card" style="
    position: absolute;
    bottom: 100px;
    left: 20px;
    z-index: 1000;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: none;
    width: 300px;
">
    <h4>Ride's information</h4>
    <div id="ride-details">
        <p>Select a ride</p>
    </div>
</div>

{% block extrahead %}
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <script
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""
    ></script>
{% endblock %}

{{ rides_geo|json_script:"rides-geo-data" }}
<script>
  const layers = [];
  let activeRoute = null;

  const rides = JSON.parse(document.getElementById("rides-geo-data").textContent);

  const map = L.map("map").setView([46.5, 2.5], 6);
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution: "© OpenStreetMap",
  }).addTo(map);

  const allBounds = [];
  const colors = [
    '#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231',
    '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', '#fabebe',
    '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000',
    '#aaffc3', '#808000', '#ffd8b1', '#000075', '#808080'
  ];

  document.getElementById('start_dt').addEventListener('change', function () {
    const selectedDate = this.value;
    clearMap();
    const filtered = rides.filter(ride => {
        const rideDate = new Date(ride.start_dt).toISOString().split('T')[0];
        return rideDate === selectedDate;
    });        
    displayRides(filtered);
  });

  async function displayRides(rides) {
    const localBounds = [];

    var index = 0;
    rides.forEach(ride => {
        const color = colors[(index) % colors.length]; 

        // Ajouter les marqueurs
        const startMarker = L.marker(ride.start).addTo(map).bindPopup("Start: " + ride.start_name);
        const endMarker = L.marker(ride.end).addTo(map).bindPopup("Destination: " + ride.end_name);
        layers.push(startMarker, endMarker);

        // Tracer la route
        const route = L.geoJSON(ride.geometry, {
            style: {
                color: color,
                weight: 4,
                opacity: 0.6
            }
        }).addTo(map);

        layers.push(route);

        route.on('click', () => {
            if (activeRoute && map.hasLayer(activeRoute)) {
                activeRoute.setStyle({ weight: 4, opacity: 0.6 });
            }

            activeRoute = route;

            showRideInfo(route, ride, color);
            route.setStyle({ weight: 6, opacity: 0.9 });
            map.fitBounds(route.getBounds(), { padding: [50, 50] });
        });

        const bounds = route.getBounds();
        if (bounds.isValid()) {
            allBounds.push(bounds);
        }
        index++;
    });
    updateMapBounds(allBounds);

  }

  function updateMapBounds(bounds) {
        if (!bounds || bounds.length === 0) return;

        let fullBounds = bounds[0];
        for (let i = 1; i < bounds.length; i++) {
            if (bounds[i].isValid()) {
                fullBounds = fullBounds.extend(bounds[i]);
            }
        }

        if (fullBounds.isValid()) {
            map.fitBounds(fullBounds, { padding: [50, 50] });
        }
    }


  function showRideInfo(route, ride, color) {
        
    const card = document.getElementById('ride-info-card');
    const details = document.getElementById('ride-details');
    
    details.innerHTML = `
        <button id="close-info" style="position:absolute; top:5px; right:5px; background:none; border:none; font-size:20px; cursor:pointer;">&times;</button>
        <p><strong>${ride.start_d}</strong></p>
        <p><strong>Start :</strong> ${ride.start_name}</p>
        <p><strong>Destination :</strong> ${ride.end_name}</p>
        <p><strong>Hour :</strong> ${ride.start_t}</p>
        <p><strong>Duration :</strong> ${ride.duration}</p>
        <p><strong>Price :</strong> ${ride.price} €</p>
        <div class="text-center" style="position:absolute; bottom:10px; right:10px; background:none; border:none; font-size:20px; cursor:pointer;">
            <a href="/${ride.uuid}/" class="btn btn-primary">See more</a>
        </div>
    `;
    

    document.getElementById('close-info').addEventListener('click', () => {
        card.style.display = 'none';
        route.setStyle({ weight: 4, opacity: 0.6 });
        activeRoute = null;
        displayRides(rides);
        });

    card.style.borderLeft = `5px solid ${color}`;
    card.style.display = 'block';
  }

  function clearMap() {
    layers.forEach(layer => {
        map.removeLayer(layer);
    });
    layers.length = 0;
  }

  document.getElementById('reset-date').addEventListener('click', () => {
    document.getElementById('start_dt').value = '';
    clearMap();
    displayRides(rides);
  });

  displayRides(rides);
</script>

{% endblock %}
