{% extends 'base.html' %}
{% load i18n static duration %}
{% block extrahead %}
<style>
    .circle {
        width: 10px;
        height: 10px;
        border: 2px solid black;
        border-radius: 50%;
        background-color: white;
        align-self: center;
        flex-shrink: 0;
    }

    .line {
        background-color: #1b1b1b;
        flex: 1;
        border-radius: 2px;
        align-self: center;
        margin: 2px 0;
        width: 4px;
    }
</style>
{% endblock %}


{% block content %}
<div class="container mt-3">
    <h1>{% translate "My rides" %}</h1>
    <div class="row">
        <div class="col-xl-6 mb-3">
            <h4>{% translate "Published rides" %}</h4>
            {% for ride in p_page_obj %}
                {% include "rides/includes/ride_card.html" with ride=ride %}
            {% empty %}
            <div class="card">
                <div class="card-body">
                    {% translate "You don't have any published rides." %}
                </div>
            </div>
            {% endfor %}
            {% include "rides/includes/pagination.html" with iterated_obj=s_page_obj %}
        </div>
        <div class="col-xl-6 border-start">
            <h4>{% translate "Subscribed rides" %}</h4>
            {% for jr in s_page_obj %}
                {% include "rides/includes/ride_card.html" with ride=jr.ride status="PENDING" %}
            {% empty %}
            <div class="card">
                <div class="card-body">
                    {% translate "You don't have subscribed to any rides." %}
                </div>
            </div>
            {% endfor %}

            {% include "rides/includes/pagination.html" with iterated_obj=s_page_obj %}
        </div>
    </div>



</div>
{% endblock %}