<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'carpool:list' %}">INSA'Roule</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'carpool:list' %}">Rides</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'carpool:create' %}">Publish a ride</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% endif %}
                        <form action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <li><button type="submit" class="dropdown-item">Logout</button></li>
                        </form>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>