{% load i18n %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'carpool:list' %}">INSA'Roule</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'list' %}active{% endif %}" 
                    {% if request.resolver_match.url_name == 'list' %}aria-current="page"{% endif %} href="{% url 'carpool:list' %}">{% translate "Rides" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'create' %}active{% endif %}" 
                    {% if request.resolver_match.url_name == 'create' %}aria-current="page"{% endif %} href="{% url 'carpool:create' %}">{% translate "Publish a ride" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'map' %}active{% endif %}" 
                    {% if request.resolver_match.url_name == 'map' %}aria-current="page"{% endif %} href="{% url 'carpool:map' %}">{% translate "Map View" %}</a>
                </li>

                {% if perms.chat.can_moderate_messages %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'mod_index' %}active{% endif %}" 
                    {% if request.resolver_match.url_name == 'mod_index' %}aria-current="page"{% endif %} href="{% url 'chat:mod_index' %}">{% translate "Moderation" %}</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_staff %}
                <li class="nav-item me-3 my-auto"><a class="btn btn-sm btn-outline-danger" href="{% url 'admin:index' %}">{% translate "Admin Panel" %}</a></li>
                {% endif %}

                <li class="nav-item my-auto me-3">
                    <a class="btn btn-sm btn-outline-primary position-relative" href="{% url 'chat:index' %}">
                        {% translate "Messages" %}
                        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </a>
                </li>




                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'accounts:me' %}">{% translate "My Account" %}</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <form action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <li><button type="submit" class="dropdown-item">{% translate "Logout" %}</button></li>
                        </form>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>