{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'carpool:list' %}">
            <img src="{% static 'img/logo/insa-rennes.png' %}" alt="logo INSA Rennes" class="img-fluid me-2" style="height: 30px;">
            INSA'Roule
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'list' %}active{% endif %}" 
                    {% if request.resolver_match.url_name == 'list' %}aria-current="page"{% endif %} href="{% url 'carpool:list' %}">{% translate "Rides" %}</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'map' %}active{% endif %}" 
                    {% if request.resolver_match.url_name == 'map' %}aria-current="page"{% endif %} href="{% url 'carpool:map' %}">{% translate "Map View" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'my-rides' %}active{% endif %}" 
                    {% if request.resolver_match.url_name == 'my-rides' %}aria-current="page"{% endif %} href="{% url 'carpool:my-rides' %}">{% translate "My Rides" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'create' %}active{% endif %}" 
                    {% if request.resolver_match.url_name == 'create' %}aria-current="page"{% endif %} href="{% url 'carpool:create_step1' %}">{% translate "Publish a ride" %}</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}

                <li class="nav-item my-auto me-3 mb-2 my-xl-auto">
                    <a class="btn btn-sm btn-outline-primary position-relative" href="{% url 'chat:index' %}">
                        {% translate "Messages" %}
                       <!-- <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>-->
                    </a>
                </li>
                {% endif %}

                <div class="my-auto">
                    {% include "includes/langselect.html" %}
                </div>
                
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'accounts:me' %}">{% translate "My Account" %}</a></li>
                        <li><a class="dropdown-item" href="mailto:{{ SUPPORT_EMAIL }}">{% translate "Report Issue" %}</a></li>
                        {% if perms.carpool.view_statistics %}
                        <li><a class="dropdown-item" href="{% url 'carpool:bo_statistics' %}">{% translate "Back Office" %}</a></li>
                        {% endif %}
                        {% if user.is_staff %}
                        <li><a class="dropdown-item text-danger fw-bold" href="{% url 'admin:index' %}">{% translate "Admin Panel" %}</a></li>
                        {% endif %}
                        {% if perms.chat.can_moderate_messages %}
                        <li>
                            <a class="dropdown-item {% if request.resolver_match.url_name == 'mod_index' %}active{% endif %}" 
                            {% if request.resolver_match.url_name == 'mod_index' %}aria-current="page"{% endif %} href="{% url 'chat:mod_index' %}">
                                {% translate "Moderation" %}
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <form action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <li><button type="submit" class="dropdown-item">{% translate "Logout" %}</button></li>
                        </form>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item my-auto py-xl-0 py-3 ms-xl-2 ms-0">
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'accounts:login' %}">
                        {% translate "Login" %}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>