
@font-face {
    font-family: "League Spartan";
    src: url("../fonts/LeagueSpartan-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Source Serif 4";
    src: url("../fonts/SourceSerif4_18pt-Regular.ttf") format("truetype");
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    /* Capitalize */
    text-transform: uppercase;
}

* { 
    font-family: "Source Serif 4", serif;
    font-weight: 400;
}
