{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <h1>{% translate "Welcome !" %}</h1>
            <p>
                {% blocktranslate trimmed %}
                Your email address has been verified. You can now log in.
                {% endblocktranslate %}
            </p>
            <p class="text-center my-5">
                <!-- <img src="https://media.istockphoto.com/id/1001515918/vector/good-luck-farewell-card-vector-lettering.jpg?s=612x612&w=0&k=20&c=V9-EcE0_Q2tbUBN9VZXlRgPFgm679GOPKQSxQVJF7nY="
                    class="img-fluid rounded-5" style="max-width: 30vh;"> -->
            </p>
            <a class="btn btn-primary w-100 mt" href="{% url 'accounts:login' %}">{% translate "Log In" %}</a>
        </div>
    </div>
</div>
{% endblock content %}
