{% extends 'registration/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <h1>Vérification de l'adresse e-mail</h1>
            <p>
                Un message a été envoyé à votre adresse e-mail. Veuillez cliquer sur le lien dans l'email pour vérifier votre adresse e-mail.
                Pensez à vérifier votre dossier spam si vous ne voyez pas le message dans votre boîte de réception.
            </p>
            <p>
                Si vous n'avez reçu aucun message, vous pouvez le renvoyer en cliquant sur le bouton ci-dessous.
            </p>
            <form method="post" action="{% url 'accounts:verify_email_send_token' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary w-100">Renvoyez le message</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}