{% extends 'registration/base.html' %}
{% load i18n %}
{% block content %}
<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-lg-6">

			<h1>{% translate "Email verification" %}</h1>
			
			
			{% if cooldown %}
			{{ not_before|date:"c"|json_script:"not-before" }}
			<div class="alert alert-warning" id="cooldown-message">
				{% blocktranslate trimmed with minutes=minutes %}
				You just requested a verification email. Please wait. <span id="cooldown-timer">{{ minutes }}</span> minutes.
				{% endblocktranslate %}
			</div>
			{% endif %}


			<p>
				{% blocktranslate trimmed %}
				A message has been sent to your email address. Please click the link in the email to verify your email
				address.
				Remember to check your spam folder if you do not see the message in your inbox.
				{% endblocktranslate %}
			</p>
			<p>
				{% blocktranslate trimmed %}
				If you have not received the message, you can resend it by clicking the button below.
				{% endblocktranslate %}
			</p>
			<form method="post" action="{% url 'accounts:verify_email_send_token' %}">
				{% csrf_token %}
				<button type="submit" class="btn btn-outline-primary w-100 {% if cooldown %}disabled{% endif %}">{% translate "Resend verification email" %}</button>
			</form>
		</div>
	</div>
</div>
{% endblock content %}

{% block extrascript %}
<!-- Script to enable or disable -->
<script>
	const notBefore = JSON.parse(document.getElementById('not-before').textContent);

	if (notBefore) {
		const notBeforeDate = new Date(notBefore);
		const cooldownButton = document.querySelector('button[type="submit"]');

		const checkCooldown = () => {
			const now = new Date();
			if (now >= notBeforeDate) {
				cooldownButton.classList.remove('disabled');
				cooldownButton.removeAttribute('disabled');
				// Remove the cooldown message if it exists
				const cooldownMessage = document.getElementById('cooldown-message');
				if (cooldownMessage) {
					cooldownMessage.remove();
				}
			} else {
				const remainingTime = Math.ceil((notBeforeDate - now) / 1000); // in seconds
				const minutes = Math.floor(remainingTime / 60);
				const seconds = remainingTime % 60;
				document.getElementById('cooldown-timer').textContent = `${minutes}:${seconds < 10 ? '0' + seconds : seconds}`;
				cooldownButton.classList.add('disabled');
				cooldownButton.setAttribute('disabled', 'disabled');
			}
		};

		// Initial check
		checkCooldown();

		// Update every second
		setInterval(checkCooldown, 1000);
	}
</script>

{% endblock extrascript %}
