{% load i18n %} {% load duration %}
<style>
    .circle {
        width: 10px;
        height: 10px;
        border: 2px solid black;
        border-radius: 50%;
        background-color: white;
        align-self: center;
        flex-shrink: 0;
    }

    .line {
        background-color: #1b1b1b;
        flex: 1;
        border-radius: 2px;
        align-self: center;
        margin: 2px 0;
        width: 4px;
    }

    .list-group-item.active {
        --bs-list-group-active-bg: #cfe2ff;
        --bs-list-group-active-border-color: #cfe2ff;
        --bs-list-group-active-color: #084298;
    }
</style>

<div class="list-group mb-3">
    <span class="list-group-item text-bg-light">
        <div class="d-flex">
            {% translate "Ride Requests" %}
            <div class="dropdown ms-auto">
                <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        {% if request.GET.o_declined %}
                        <a href="{% querystring o_declined=None %}" class="dropdown-item disabled">
                            <i class="bi bi-check-lg"></i> {% translate "Declined requests" %}
                        </a>
                        {% else %}
                        <a href="{% querystring o_declined=1 %}" class="dropdown-item disabled">
                            {% translate "Declined requests" %}
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>

    </span>
    {% for jr in outgoing_requests %}
    {% include "chat/includes/sidebar_item.html" with jr=jr contact=jr.ride.driver %}
    {% empty %}
    <a href="{% url 'carpool:list' %}" class="list-group-item list-group-item-action">
        <div class="d-flex flex-column align-items-center">
            <span class="text-muted mb-2 small">
                {% translate "No ride requests found" %}
            </span>
            <span type="button" class="btn btn-sm btn-outline-primary">
                {% translate "Search a ride" %}
            </span>
        </div>
    </a>
    {% endfor %}
</div>

{# Pagination for outgoing requests #}
{% if outgoing_requests.has_other_pages %}
<nav>
    <ul class="pagination pagination-sm my-3 justify-content-center">
        <li class="page-item"><a class="page-link {% if not outgoing_requests.has_previous %}disabled{% endif %}"
                href="{% querystring o_page=1 %}">&laquo;</a></li>
        <li class="page-item"><a class="page-link {% if not outgoing_requests.has_previous %}disabled{% endif %}"
                href="{%if outgoing_requests.has_previous%}{%querystring o_page=outgoing_requests.previous_page_number%}{%endif%}">&lsaquo;</a>
        </li>
        <li class="page-item"><span class="page-link text-dark">{{ outgoing_requests.number }} / {{ outgoing_requests.paginator.num_pages }}</span></li>
        
        <li class="page-item"><a class="page-link {% if not outgoing_requests.has_next %}disabled{% endif %}"
                href="{%if outgoing_requests.has_next%}{%querystring o_page=outgoing_requests.next_page_number%}{%endif%}">&rsaquo;</a>
        </li>
        <li class="page-item"><a class="page-link {% if not outgoing_requests.has_next %}disabled{% endif %}"
                href="{% querystring o_page=outgoing_requests.paginator.num_pages %}">&raquo;</a></li>
    </ul>
</nav>
{% endif %}

<div class="list-group">
    <span class="list-group-item text-bg-light">
        <div class="d-flex">
            {% translate "Incoming requests" %}
            <div class="dropdown ms-auto">
                <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        {% if request.GET.i_declined %}
                        <a href="{% querystring i_declined=None %}" class="dropdown-item disabled">
                            <i class="bi bi-check-lg"></i> {% translate "Declined requests" %}
                        </a>
                        {% else %}
                        <a href="{% querystring i_declined=1 %}" class="dropdown-item disabled">
                            {% translate "Declined requests" %}
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </span>
    {% for jr in incoming_requests %}
    {% include "chat/includes/sidebar_item.html" with jr=jr contact=jr.user %}

    {% empty %}

    <span class="list-group-item text-muted text-center small">
        {% translate "Nobody has requested to join your rides yet." %}
    </span>

    {% endfor %}
</div>

{# Pagination for incoming requests #}
{% if incoming_requests.has_other_pages %}
<nav>
    <ul class="pagination pagination-sm my-3 justify-content-center">
        <li class="page-item"><a class="page-link {% if not incoming_requests.has_previous %}disabled{% endif %}"
                href="{% querystring i_page=1 %}">&laquo;</a></li>
        <li class="page-item"><a class="page-link {% if not incoming_requests.has_previous %}disabled{% endif %}"
                href="{%if incoming_requests.has_previous%}{%querystring i_page=incoming_requests.previous_page_number%}{%endif%}">&lsaquo;</a>
        </li>
        <li class="page-item"><span class="page-link text-dark">{{ incoming_requests.number }} / {{ incoming_requests.paginator.num_pages }}</span></li>
        
        <li class="page-item"><a class="page-link {% if not incoming_requests.has_next %}disabled{% endif %}"
                href="{%if incoming_requests.has_next%}{%querystring i_page=incoming_requests.next_page_number%}{%endif%}">&rsaquo;</a>
        </li>
        <li class="page-item"><a class="page-link {% if not incoming_requests.has_next %}disabled{% endif %}"
                href="{% querystring i_page=incoming_requests.paginator.num_pages %}">&raquo;</a></li>
    </ul>
</nav>
{% endif %}